@*@model List<CPM.Web.Areas.Wallet.Models.WalletInfoVM>*@
@model CPM.Web.Areas.Wallet.Models.WalletListVM
@*@model List<CPM.Business.Wallet.WalletBM>*@

@{ Layout = "/Views/Shared/Wallet/_WalletLayout.cshtml";}
@{ ViewBag.Title = "Wallets";}

<div class="col-sm-4c col-sm-offset-2">
        <div class="form-group">
            <span class="input-icon" >
                <input id="SearchBox" type="text" placeholder="Search by Wallet Name e.g MyWallet" />
                <a  class="btn btn-default" asp-controller="Wallet" asp-action="Filter" data-val="">
                    <i class="ace-icon fa fa-search"></i>
                </a>
            </span>
        </div>
</div>
<div>


    <div>
        @if (!String.IsNullOrWhiteSpace(Model.SearchTerm))
        {
            <div class="label label-default">Model.SearchTerm</div>
        }

        <button class="btn btn-default fa-search"></button>
    </div>
    <table class="table table-responsive table-striped">

        @foreach (var wallet in Model.Wallets)
        {
            <tr>
                <td>@wallet.Id</td>
                <td>@wallet.ClientId</td>
                <td>@wallet.Name</td>
                @*<td>@wallet.Type.Name</td>
                    <td>@wallet.Type.Description</td>*@
                <td>@wallet.IsLocked</td>
                <td>@wallet.Balance</td>
                @*<td>@wallet.WalletSettings.SpendLimit</td>
                    <td>@wallet.WalletSettings.NotificationLimit</td>
                    <td>@wallet.WalletSettings.WithdrawLimit</td>*@
                <td>@wallet.Id</td>
            </tr>
        }
    </table>

</div>