@model CPM.Web.Areas.Currency.Models.CurrencyVM
@{ Layout = "/Views/Shared/Currency/_CurrencyLayout.cshtml";}
@{ ViewBag.Title = Model.Name;}


<div class="container-fluid">
    <div class="smta-currencybanner">
        <div>
            <span>@Model.Name</span>
            <span>@Model.Code</span>
        </div>
    </div>

    @*<div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off" />          
            @foreach (var fiat in @Model.FiatList)
            {
                <span title="@fiat.Description">
                    @fiat.Symbol &nbsp; @fiat.DisplayName
                </span>
            }
        </label>
    </div>*@

    <div>
        <ul class="nav nav-pills" role="tablist">
            @foreach (var fiat in @Model.Prices)
            {
                var classType = "";
                @if (@fiat.FiatCode.ToUpper() == "USD") { classType = "active"; }
                <li role="presentation" class="@classType"><a href="#@fiat.FiatCode.ToUpper()" role="tab" data-toggle="tab">@fiat.FiatCode.ToUpper()</a></li>
            }
        </ul>

        <div class="tab-content" style="border:none;">
            @if (@Model.Prices != null)
            {
                @foreach (var price in @Model.Prices)
                {
                    var classValue = "";
                    @if (@price.FiatCode.ToUpper() == "USD") { classValue = "active"; } @*replace with session default*@

                    <div role="tabpanel" class="tab-pane @classValue" id=@price.FiatCode.ToUpper()>
                        <div class="smta-CurrencyBlock">
                            <hr />
                            <div class="smta-pricechange"> @price.Price @price.FiatCode</div>
                            <div class="smta-pricechange">
                                @if (@price.Change < 0)
                                {
                                    <div style="color: red"><i class="fa fa-chevron-down"></i> &nbsp; @price.Change.ToString("0.###")</div>
                                }
                                else
                                {
                                    <div style="color: blue"> <i class="fa fa-chevron-up"></i> &nbsp; @price.Change.ToString("0.###")</div>
                                }
                            </div>
                            <hr />
                            <div>Volume <i class="fa fa-cube"></i> &nbsp; @price.Volume.ToString("0.###")</div>
                            <div><span data-toggle="tooltip" title="@price.DateTime.ToUniversalTime() @price.DateTime.ToUniversalTime().Kind"><i class="fa fa-clock-o"></i>&nbsp; @price.DateTime.ToShortTimeString() @price.DateTime.Kind</span></div>
                        </div>
                        @*START OF MARKETS*@
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title"><strong>MARKETS</strong> </h2>
                                <span class="pull-right clickable"><i class="fa fa-chevron-up"></i></span>
                            </div>
                            <div class="panel-body">
                                @foreach (var market in @price.Markets)
                                {
                                    <ul class="smta-currencydetail smta-currencymarket">
                                        <li class="smta-marketname">@market.Market</li>
                                        <li><span class="smta-marketprice" onfocus=@price.FiatCode.ToUpper()>@market.Price.ToString("0.##")</span></li>
                                        <li><span class="smta-marketvolume">Volume : <i class="fa fa-cube"></i>@market.Volume.ToString("0.##")</span></li>
                                    </ul>
                                }
                            </div>
                        </div>
                        @*END OF MARKETS*@
                    </div>
                }
            }
        </div>
    </div>

    <div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title"><strong>@Model.Code</strong> </h2>
                <span class="pull-right clickable"><i class="fa fa-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                <div>Market cap ($) : @Model.MarketCap.ToString()</div>
                <hr />
                <div style="text-justify:auto">@Model.Description</div>

            </div>
        </div>
    </div>
</div>



<script>
    //$(function show(elem) {
    //    console.log("hi");
    //    var id = document.getElementById("#eurCheckbox");
    //    console.log(document.getElementById("#eurCheckbox").onactivate());
    //});

    /*Tool tip*/
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    /* Panel collpase Toggle */
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('fa fa-chevron-up').addClass('fa fa-chevron-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('fa fa-chevron-down').addClass('fa fa-chevron-up');
        }
    })
</script>