@model CPM.Web.Areas.Currency.Models.CurrencyVM
@{ Layout = "/Views/Shared/Currency/_CurrencyLayout.cshtml";}
@{ ViewBag.Title = Model.Name;}


<div class="container-fluid">
    <div>
        <label class="checkbox-inline">
            <input type="checkbox" id="usdCheckbox" value="usd"> USD
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="gbpCheckbox" value="gbp"> GBP
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="eurCheckbox" value="eur"> EUR            
        </label>
    </div>

    <div class="smta-CurrencyBlock">
        <p>@Model.Code</p>
        <p>@Model.Name</p>
        <p>@Model.Description</p>
        @if (@Model.Prices != null)
        {
            <ul class="smta-CurrencyBlock smta-currencydetail">
                @foreach (var item in @Model.Prices)
                {
                    <li>@item.FiatCode</li>
                    <li>@item.CryptoCode</li>
                    <li>@item.Price  @item.FiatCode</li>
                    @*@if (@item.Price < 1.0m)
                        {
                            <li>@item.FiatCode : @( 1 / @item.Price)</li>
                        }
                        else
                        {
                            <li>@item.FiatCode :  @item.Price</li>
                        }*@

                    <li>HOUR VOLUME : @item.Volume</li>
                    <li>HOUR CHANGE: @item.Change</li>
                    <li>
                        @foreach (var market in @item.Markets)
                        {
                            <ul class="smta-currencydetail smta-currencymarket">
                                <li>@market.Market</li>
                                <li>@market.Price</li>
                                <li>@market.Volume</li>
                            </ul>
                        }
                    </li>
                }
            </ul>
        }
    </div>    
</div>
<script>
    $(function show(elem) {
        console.log("hi");
        var id = document.getElementById("#eurCheckbox");
        console.log(document.getElementById("#eurCheckbox").onactivate());
    });
</script>