
@model CPM.Web.Areas.Currency.Models.CurrencyListVM
@{ Layout = "/Views/Shared/Currency/_CurrencyLayout.cshtml"; }
@{ ViewBag.Title = "CPM Currencies";}

<div>
    <div id="Grid" class="col-sm-12">
        <h5>Here ought to be a grid view</h5>
        @Html.Partial("Grid")
    </div>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Code</td>
                <td>1hr Change</td>
                <td>Price</td>               
                <td>Timestamp</td>
                <td></td>
            </tr>
        </thead>
        @foreach (var item in Model.Currencies)
        {
            <tr>
                <td></td>
                <td><a asp-route-area="Currency" asp-controller="Currency" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.Code</td>
                <td id="tickerChange">                    
                    @if (Math.Sign(@item.PriceTickerInfo.Change) < 0)
                    {
                        <div class="smta-changedown"><i class="fa fa-chevron-down"></i> &nbsp; @item.PriceTickerInfo.Change.ToString()</div>
                    }
                    else
                    {
                        <div class="smta-changeup"> <i class="fa fa-chevron-up"></i> &nbsp; @item.PriceTickerInfo.Change.ToString()</div>
                    }
                </td>                
                @if (item.PriceTickerInfo.Price != 0.0m)
                {
                    @if (item.PriceTickerInfo.Price > 1.0m)
                    {
                        <td>@item.PriceTickerInfo.Price.ToString("0.##") @item.PriceTickerInfo.FiatCode</td>
                    }
                    else
                    {
                        <td>@item.PriceTickerInfo.Price @item.PriceTickerInfo.FiatCode</td>
                    }
                }
                else
                {
                    <td>N/A</td>
                }

                <td><span data-toggle="tooltip"  title="@item.PriceTickerInfo.DateTime.ToUniversalTime()">@item.PriceTickerInfo.DateTime.ToShortTimeString()</span></td>
                <td><a asp-route-area="Currency" asp-controller="Currency" asp-action="Detail" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a></td>
            </tr>
        }
    </table>

    
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $('#tickerdiv').addClass('smta-changedown');
    //var tchange = $(document).getElementById('tickerdiv');
    //tchange.onclick(console.log("Happening"));

    $(function() {
        console.log("stuff ");
        $('div #tickerdiv').addClass("smta-changedown");
    });
</script>