<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<environment names="Devlopment">*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @*</environment>*@

    <environment names="Devlopment">
        @*Bundlded and minified versions *@
    </environment>
</head>
<body>

    <nav id="TopNavParent" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="nav navbar-header">
                <a asp-route-area="Global" asp-controller="Home" asp-action="Index" class="navbar-brand">
                  <span class="glyphicon glyphicon-home"></span>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar navbar-collapse" id="navbar-collapse">
                <div class="nav navbar-brand">CPM</div>
                <ul class="nav navbar-nav ">
                    @* @Component.Invoke("NavbarMenu") *@
                    <li id="currencyMenu">
                        <a href="#"
                           data-toggle="collapse"
                           data-target="#ulCurrency"
                           <span class="visible-sm-ms-lg"><i class="fa fa-money"></i> &nbsp; Currency&nbsp; <b class="caret"></b></span>
                        </a>
                        <div>
                            <ul id="ulCurrency" class="collapse" data-parent="currencyMenu">
                                <li>
                                   <a asp-route-area="Currency" asp-controller="Currency" asp-action="Index">All Currency</a>
                                 </li>
                                <li>
                                    <a href="#">Top 100</a>
                                </li>
                                <li>
                                    <a href="#">Top Market Cap &nbsp; <</a>
                                </li>
                            </ul>
                        </div>
                            
                    </li>
                    <li id="Offermenu" >
                        <a  href="#"
                           data-toggle="collapse" 
                           data-target="#ulOffers"
                            <span class="visible-sm visible-lg-md"><i class="fa fa-binoculars"></i> Offers&nbsp;<b class="caret"></b></span>                                                      
                        </a>
                        <div class="visible-sm visible-lg-md"> 
                            <ul id="ulOffers" class="collapse" data-parent="#Offermenu">
                                <li>
                                    <a  asp-route-area="Offer" asp-controller="Offer" asp-action="Index">All Offers</a>
                                </li>
                                <li>
                                    <a href="#">My Favourite Traders &nbsp; <i class="fa fa-heart-o"></i></a>
                                </li>                              
                                <li>
                                    <a href="#">Most Watched Offers&nbsp; <i class="fa fa-eye"></i></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a asp-route-area="Transaction" asp-controller="Transaction" asp-action="Index">TRANSACTION</a>
                    </li>
                    <li>
                        <a asp-route-area="Wallet" asp-controller="Wallet" asp-action="Index">WALLETS</a>
                    </li>
                    <li>
                        <a asp-route-area="FiatAccount" asp-controller="FiatAccount" asp-action="Index">FIAT</a>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">                  
                    <li><a href="#">Logout</a></li>
@*<span id="LoggedUsername">@User.FindFirst("username").Value</span>*@
                    <li><a href="#">Login</a></li>
                    <li><a asp-route-area ="Global" asp-controller="Account" asp-action="Register">Register</a></li>


                </ul>
            </div>

        </div>
    </nav>
    @*Navigation bar*@

    <div id="main" class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)


</body>
</html>