@model CPM.Web.Areas.Offer.Models.OfferListVM
@{ Layout = "/Views/Shared/Offer/_OfferLayout.cshtml";}
@{ ViewBag.Title = "Offers";}


<div>
    <table  class="table table-condensed table-responsive">
        <thead>
            <tr>
                <td></td>
                <td>Offerer</td>
                <td>Wallet</td>
                <td>Offer</td>
                <td>Description</td>
            </tr>
        </thead>
        @foreach (var offer in Model.Offers)
        {
            <tr>
                <td><a href="#"> <i class="fa fa-remove"></i></a></td>

                <td>@offer.ClientName</td>
                <td>@offer.WalletName</td>
                <td>@offer.Name</td>
                <td>@offer.Detail</td>

                @*<td><button class="btn  btn-primary btn-xs" asp-route-area="Offer" asp-controller="Offer" asp-action="Create" asp-route-id="@offer.Id"><i class="fa fa-eye"></i></button></td>                
                <td><a asp-route-area="Offer" asp-controller="Offer" asp-action="Detail" asp-route-id="@offer.Id"><i class="fa fa-plus"></i></a></td>*@
                <td><a asp-route-area ="Offer" asp-controller="Offer" asp-action="Detail" asp-route-id="@offer.Id"><i class="fa fa-edit"></i></a></td>                
            </tr>
        }

    </table>
</div>
