@model CPM.Web.Areas.Wallet.Models.WalletVM
@{ Layout = "/Views/Shared/Wallet/_WalletLayout.cshtml";}
@{ ViewBag.Title = Model.Name;}
<div>
   <div class="panel">
        <div class="panel panel-heading panel-info">
            <b>@Model.Name</b>
        </div>
        <div class="panel panel-body panel-group">
            <div></div>
            <div>ClientID: @Model.ClientId</div>
            <div>Balance : [@Model.Balance]</div>
            <div>IsLocked : @Model.IsLocked</div>
        </div>
       <div>
          @*<button class="btn btn-info btn-success btn-xs" asp-route-area="Wallet" asp-controller="wallet" asp-action="Create" asp-route-id="@Model.Id">Add &nbsp;<i class="fa fa-plus"></i></button>
          <button class="btn btn-info btn-success btn-xs" asp-route-area="Wallet" asp-controller="wallet" asp-action="Edit" asp-route-id="@Model.Id">Add &nbsp;<i class="fa fa-edit"></i></button>*@           
       </div>
       <div class="panel panel-footer">
           @DateTime.Now.ToString("d MMM yy");
       </div>
    </div>
</div>
