@*@model List<CPM.Web.Areas.Wallet.Models.WalletInfoVM>*@
@model CPM.Web.Areas.Wallet.Models.WalletListVM
@*@model List<CPM.Business.Wallet.WalletBM>*@

@{ Layout = "/Views/Shared/Wallet/_WalletLayout.cshtml";}
@{ ViewBag.Title = "Wallets";}

<div>
    <div class="col-sm-4">
        <div class="form-group">
            <span class="input-icon">
                <input id="SearchBox" type="text" placeholder="Search by Wallet Name e.g MyWallet" />
                <a class="btn btn-default" asp-controller="Wallet" asp-action="Filter" data-val="">
                    <i class="ace-icon fa fa-search"></i>
                </a>
            </span>
        </div>
    </div>
    @*<div>
        @if (!String.IsNullOrWhiteSpace(Model.SearchTerm))
        {
            <div class="label label-default">Model.SearchTerm</div>
        }
    </div>*@
    <table class="table table-condensed table-striped col-sm-5">
        <thead>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Locked</td>
                <td>Balance</td>
                <td></td>
            </tr>
        </thead>
        @foreach (var wallet in Model.Wallets.ToList())
        {
            <tr>
                <td><a href="#" class="btn btn-danger btn-xs"> <i class="fa fa-remove"></i></a></td>               
                <td>@wallet.Name</td>
                <td>                    
                        @if (@wallet.IsLocked)
                        {
                            <i class="fa fa-lock "></i>;
                        }
                        else
                        {
                            <i class="fa fa-unlock blue"></i>;
                        }  
                </td>
                <td>@wallet.Currency &nbsp; @wallet.Balance</td>
                <td><a asp-route-area="Wallet" asp-controller="Wallet" asp-action="Detail" asp-route-id="@wallet.Id"><i class="fa fa-edit"></i></a></td>
            </tr>
        }
        
    </table>
    <div>
        <button class="btn  btn-success btn-sm" asp-route-area="Wallet" asp-controller="Wallet" asp-action="Create" >Add New &nbsp;<i class="fa fa-plus"></i></button>
    </div>
</div>
